<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="main.js" defer></script>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="styles.css">
  <title>TrainingApp</title>
</head>
<body>

<div id="vue-app">


  <header>
    <h1>TrainingApp</h1>

    <section id="control-bar">

      <input type="radio" name="state" id="start" >
      <label for="start">Start</label>

      <input type="radio" name="state" id="paus" >
      <label for="paus">Paus</label>

      <input type="radio" name="state" id="stop">
      <label for="stop">Stop</label>

      <button>Clear</button>

      <section id="overall-time">Start your workout!</section>

    </section>

  </header>

<div id="container">
  <section id="userChoice">
    <h2>Pick some exercises...</h2>
    <ul id="exercises">
      <li v-for="exercise in exercises">
        <h3>{{exercise.category}}: {{ exercise.name }}</h3>
        <button type="button" @click="addToUserProgram(exercise)">Add</button>
      </li>
    </ul>

    <h2>... or a ready-made program!</h2>
    <ul id="programs"></ul>
  </section>

  <section id="workout">
    <h2>Your workout</h2>
    <ul>
      <li v-for="exercise in userProgram">
        <h3>{{ exercise.name }}</h3>

        <button type="button" @click="removeExercise(exercise)">Remove</button>
      </li>
    </ul>

  </section>
  </div>

  <footer>
    <p><small>By Malte Nilsson och Jens Malmqvist</small></p>
  </footer>

  </div>

</body>
</html>
