<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="main.js" defer></script>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="styles.css">
  <title>TrainingApp</title>
</head>

<body>

  <div id="vue-app">


    <header>
      <h1>TrainingApp</h1>

      <section id="control-bar">

        <button type="button" id="start" @click="startWorkout()">Start</button>

        <button type="button" id="next" @click="nextExercise()" hidden>Next</button>

        <button type="button" id="stop" @click="stopWorkout()">Stop</button>

        <button type="button" id="clear" @click="clearUserWorkout()">Clear</button>

        <section id="overall-time">Total Workout Time: {{workoutTimeLeft}}</section>

      </section>

    </header>

    <div id="container">
      <section id="userChoice">

        <h2>Pick some exercises...</h2>
        <ul id="exercises">
          <li v-for="exercise in exercises">
            <div class="exercises-heading">
              <h3 draggable="true" class="drag-el" @dragstart="startDragWorkout($event, exercise)">
                {{ exercise.name }}
              </h3>
              <button type="button" @click="addExToUserWorkout(exercise)">Add</button>
            </div>

            <div class="description-container">
              <div>
                <p class="difficulty">Difficulty: {{ exercise.level }}</p>
                <p class="description">{{ exercise.description }}</p>
              </div>
              <img v-bind:src="'images/' + exercise.image" v-bind:alt="exercise.image" draggable="true" class="drag-el"
                @dragstart="startDragWorkout($event, exercise)">
            </div>

          </li>
        </ul>

        <h2>... or a ready-made program!</h2>
        <ul id="programs">
          <li v-for="workout in readymades" class="programs-outer-li">
            <div class="programs-heading">
              <h3 draggable="true" class="drag-el" @dragstart="startDragProgram($event, workout)">
                {{workout.workoutName}}</h3>
              <button type="button" @click="addProgramToUserWorkout(workout.content)">
                Add
              </button>
            </div>
            <ul class="readymade-exercises">
              <li v-for="exercise in workout.content">
                <p>{{exercise.name}}
                <p>
              </li>
            </ul>
          </li>
        </ul>
      </section>


      <section id="workout" class="drop-zone" @drop="onDrop($event)" @dragover.prevent @dragenter.prevent>
        <h2>Your workout</h2>
        <ul>
          <li v-for="(exercise, index) in userWorkout">

            <h3>{{ exercise.name }}</h3>

            <button type="button" @click="removeExercise(exercise, index)" class="removeButton">
              Remove
            </button>
            <span class="exerciseTimer" hidden>{{exerciseTimeLeft}}s</span>
          </li>
        </ul>

      </section>
    </div>

    <footer>
      <p><small>By Malte Nilsson och Jens Malmqvist</small></p>
    </footer>

  </div>

</body>

</html>