@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
	margin: 0 auto;
	padding: 0;
}

html {
	background-image: url('background.webp');
	background-size: 100%;
	background-attachment: fixed;
	color: white;
	font-family: 'Raleway', sans-serif;
	margin: 5px 10px 0 10px;
}

ul {
	list-style-type: none;
}

/*=====================
HEADER
=======================*/
header {
	box-sizing: border-box;
	width: 100%;
	padding: 20px 0;
	background: rgb(47, 10, 84, 0.7);
	color: black;
}

@media only screen and (min-width: 640px) {
	header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'header control';
	}
}

h1 {
	grid-area: header;
	text-align: center;
	font-weight: 800;
	font-size: calc(32px + 1vw);
	color: white;
}

#control-bar {
	grid-area: control;
	display: grid;
	justify-content: space-between;

	box-sizing: content-box;
	margin: 0 5px;
	font-size: 20px;
}

@media only screen and (min-width: 640px) {
	#control-bar {
		grid-template-columns: 1fr 1fr 1fr 4fr;
	}
}

@media only screen and (max-width: 640px) {
	#control-bar {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			'start stop clear'
			'time time time';
	}

	#start {
		grid-area: start;
	}

	#next {
		grid-area: start;
	}

	#stop {
		grid-area: stop;
	}

	#clear {
		grid-area: clear;
	}

	#overall-time {
		grid-area: time;
	}
}

#control-bar button {
	box-sizing: content-box;
	width: calc(100% - 4px);
	height: 50px;
	margin: 0 2px;
	border: 1.5px solid black;
	padding: 0;
	background: white;
	color: black;
	font: inherit;
}

#control-bar button:hover {
	background: #EFEFEF;
}

#overall-time {
	box-sizing: content-box;
	width: calc(100% - 4px);
	height: 50px;
	margin: 0 2px;
	border: 1.5px solid black;
	background: white;
	text-align: center;
	line-height: 50px;
}

/*=====================
CONTAINER
=======================*/

@media only screen and (min-width: 640px) {
	#container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 640px) {
	#container {
		display: flex;
		flex-flow: column;
	}

	#workout {
		order: 1;
	}

	#userChoice {
		order: 2;
	}
}

#container {
	box-sizing: border-box;
	background: rgb(0, 0, 0, 0.7);
}

/*=====================
left side
=======================*/
@media only screen and (min-width: 1000px) {
	.description-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-top: 5px;
	}
}

@media only screen and (max-width: 1000px) {
	img {
		margin-left: 10px;
	}
}

img {
	width: 100%;
	max-width: 200px;
}

@media only screen and (min-width: 640px) {
	#userChoice {
		overflow: hidden;
		overflow-y: scroll;
		max-height: 1000px;
	}
}

#userChoice {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 5px;
	border: 5px solid white;
}

#userChoice li h3 {
	box-sizing: border-box;
	width: 100%;
	padding: 5px 10px;
	text-align: left;
	background: rgb(58, 58, 58, 0.7);
}

#userChoice li p {
	padding: 5px 10px;
}

#userChoice li button {
	width: 60px;
	height: 40px;
}

#exercises li {
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
}

.exercises-heading {
	display: grid;
	grid-template-columns: 5fr 1fr;
	justify-content: space-between;
	align-items: center;
}

.programs-outer-li {
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
}

.programs-heading {
	display: grid;
	grid-template-columns: 5fr 1fr;
	justify-content: space-between;
	align-items: center;
}

.readymade-exercises {
	list-style-type: disc;
}

/*=====================
right side
=======================*/
@media only screen and (max-width: 640px) {
	#workout {
		margin-bottom: -4px;
	}
}

@media only screen and (min-width: 640px) {
	#workout {
		border-left: 0px;
		overflow: hidden;
		overflow-y: scroll;
		max-height: 1000px;
	}
}

#workout {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 5px;
	border: 5px solid white;
}

#workout li {
	display: grid;
	grid-template-columns: 5fr 1fr;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
	width: 100%;
	padding: 5px;
}

#workout li h3 {
	width: 100%;
	text-align: left;
	padding-left: 10px;
}

.active h3 {
	background: rgb(60, 102, 43, 0.7);
}

#workout li button {
	width: 60px;
	height: 40px;
}

/*=====================
HEADER
=======================*/
footer {
	height: 50px;
	line-height: 50px;
	margin: 0 10px;
}